<style type="text/css">
.trHeader{
	background: #ccc;
}
</style>
<div ng-controller="CourseListController">
	<h3>Catalogo de cursos</h3>
	<div class="table-responsive">
		<table class="table table-hover table-bordered">
		  <thead>
		    <tr class="trHeader">
		      <th ng-click="setOrder('title')">Título 
		      	<span class="{{ orderProperty=='title' | showOrderBy:orderbyASC}}"/></th>
		      <th ng-click="setOrder('level.name')">Nivel 
		      	<span class="{{ orderProperty=='level.name' | showOrderBy:orderbyASC}}"/></th>
		      <th ng-click="setOrder('hours')">Horas 
		      	<span class="{{ orderProperty=='hours' | showOrderBy:orderbyASC}}"/></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="course in courses|orderBy:orderProperty:orderbyASC | 
		     startFrom:currentPage*pageSize | limitTo:pageSize"  ng-class-even="'warning'" ng-class-odd="odd">
		      <td>{{course.title}}</td>
		      <td>{{course.level.name}}</td>
		      <td>{{course.hours}}</td>
		    </tr>
		  </tbody>
		</table>
		<button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Anterior</button>

	    {{currentPage+1}}/{{numberOfPages()}}
	    
	    <button class="btn btn-default" ng-disabled="currentPage >= courses.length/pageSize - 1" ng-click="currentPage=currentPage+1">Siguiente</button>
	</div>
	<p/>
	<h3>
		<a class="btn btn-default" href="#/coursenew" role="button">Nuevo Curso</a>
	</h3>
</div>